<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Spintly_Login.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D82FE439F09746A482ADE973E305C134DBB66774</string>
				<key>dateExpires</key>
				<string>24/03/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D82FE439F09746A482ADE973E305C134DBB66774</string>
						<key>dateExpires</key>
						<string>24/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3H4278VLU2</string>
						<key>name</key>
						<string>Mrinq Technologies LLP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D82FE439F09746A482ADE973E305C134DBB66774</string>
						<key>dateExpires</key>
						<string>24/03/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3H4278VLU2</string>
						<key>name</key>
						<string>Mrinq Technologies LLP</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3H4278VLU2.com.mrinq.SpintlyKusumPalLogin</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3H4278VLU2</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>3H4278VLU2.com.mrinq.SpintlyKusumPalLogin</string>
				</array>
			</dict>
			<key>name</key>
			<string>Spintly_Login.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0e74ffb3-4b69-4437-90de-44a06c31d727</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3H4278VLU2</string>
				<key>name</key>
				<string>Mrinq Technologies LLP</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
